*{
    margin:0;
    padding:0;
}
.center,.cen{
    margin-left:auto;
    margin-right:auto;
}
.day{
    text-align: left;
}
span{
    color:red;
}
th,td{
    padding:10px;
}
.rotate{
    transform: rotate(-90deg);
}
td:hover{
    background-color: rgb(201, 196, 196);
}
.th:hover{
    background-color:rgb(201, 196, 196);
}
table{
    background: rgb(239, 236, 236);
}
